
{% extends 'miyadaiku.themes.base!base.html' %}


{% macro article_metadata(article) -%}
  <div class="article-metadata">
    <span class="article-date"> {{ article.date.strftime("%Y-%m-%d") if article.date else "" }} </span>
    <span> {{ article.category }} </span>
    <span> {{ ",".join(article.tags) }} </span>
  </div>
{%- endmacro %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ page.path_to('/static/css/sample_article.css') }}">
  <link rel="stylesheet" href="{{ page.path_to('/static/css/sample_index_pagenation.css') }}">
{% endblock head %}



{% block body %}
<div class="sample-container">
  <h1 class="index-title">
    <a href="{{page.path_to('/index.yml')}}">{{ page.site_title }}</a>
  </h1>

  <div class="container-inner">
    <div class="container-body">
      {% block container_body %}

      {% endblock container_body %}
    </div>
    <aside class="container-right">
      {% block rightcol %}

      Categories:

      <ul>
        {% for category in contents.categories %}
          <li>
            <a href="{{ page.path_to('/index_category.yml', group_value=category, npage=1) }}">
              {{ category }}
            </a>
          </li>
        {% endfor %}
      </ul>

      Tags:

      <ul>
        {% for tag in contents.tags %}
          <li>
            <a href="{{ page.path_to('/index_tag.yml', group_value=tag, npage=1) }}">
              {{ tag }}
            </a>
          </li>
        {% endfor %}
      </ul>

      {% endblock rightcol %}
    </aside>
  </div>

</div>
{% endblock body %}
